In [107]:
import pandas as pd
import numpy as np

In [108]:
df = pd.read_csv('FinalPredictions.csv')

In [109]:
majority = df.mode(axis = 1, numeric_only = True)
majority0 = majority.copy()

In [110]:
majority.head()

     0   1   2
0  3.0 NaN NaN
1  2.0 NaN NaN
2  5.0 NaN NaN
3  5.0 NaN NaN
4  5.0 NaN NaN

In [102]:
submission = majority[[2]].fillna(majority[0])

In [104]:
submission.head(20)

       2
0    5.0
1    5.0
2    5.0
3    5.0
4    5.0
5    5.0
6    5.0
7    5.0
8    5.0
9    5.0
10   5.0
11   5.0
12   5.0
13   5.0
14   5.0
15   5.0
16   5.0
17  16.0
18   5.0
19   5.0

In [112]:
majority.to_csv('finalsubmission_mode_work.csv', sep=',')